.aside-container{
    width: var(--width-medium);
    padding: var(--size-medium) var(--size-small) 0px;
    background: var(--bg-color-grey);
    height: 100vh;
    &__out{
        position: relative;
    }
    &__main{
        padding: var(--size-small);
        margin-bottom: var(--size-medium);
        border-radius: var(--size-verySmall);
        cursor: pointer;
        &:hover{
            background: var(--bg-color-white);
        }
    }   
    &__menu{
        display: flex;
        flex-direction: column;
        &__li{
            display: flex;
            padding: var(--size-small);
            margin-bottom: var(--size-verySmall);
            border-radius: var(--size-verySmall);
            align-items: center;
            position: relative;            
            cursor: pointer; 
            &__color{
                width: var( --size-small);
                height: var(--size-small);   
                margin-right: var(--size-verySmall);
                border-radius: 50%; 
            }  
            &__del{
                display: none;
            }         
            &:hover{
                background: var(--bg-color-white);
                .aside-container__menu__li__del{
                    z-index: 11;
                    position: absolute;
                    display: inline;
                    right: var(--size-verySmall);
                }
            }            
        }
    }
    &__create{
        padding: var(--size-small);
        margin-top: var(--size-medium);
        border-radius: var(--size-verySmall);
        cursor: pointer;
        position: relative;
        &__editor{
            position: absolute;
            top: 110%;
            width: var(--width-medium);
            background: var(--bg-color-white);
            padding: var(--size-small);
            box-shadow: var(--box-shadow);
            border-radius: var(--size-verySmall);            
        }        
        &:hover{
            background: var(--bg-color-white);      
                              
        }
    } 
    &__out{    
        padding: var(--size-small) var(--size-medium);
        cursor: pointer;
        border-radius: var(--size-small);
        background-color: var(--bg-color-light-dark);
        border: none;
        margin-bottom: var(--size-small); 
        &:hover{
            box-shadow: var(--box-shadow);
            
        }       
    }   
}

.aside-container__create__editor__input{
    width: 100%;
    border-radius: var(--size-verySmall);
    height: var(--size-medium);
    padding: 0 var(--size-small);   
}

.aside-container__create__editor__colors{   
   display: flex;
   justify-content: center;
   column-gap: var(--size-verySmall); 
   padding: var(--size-small);
   z-index: 10;
}

.aside-container__create__editor__color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.aside-container__create__editor__btn{
    width: 100%;
    cursor: pointer;
    background: var(--bg-color-dark);
    border-radius: var(--size-verySmall);
    padding: var(--size-verySmall) 0;
    color: var(--bg-color-white);
    border: none;
}

.aside-container__create__editor__close{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%)   ;
}

.active{
    padding: var(--size-small);
    margin-bottom: var(--size-medium);
    border-radius: var(--size-verySmall);
    background-color: var(--bg-color-white);
    cursor: pointer;
}

.active1{
    display: flex;     
    padding: var(--size-small);
    border-radius: var(--size-verySmall);    
    background-color: var(--bg-color-white);
}

