.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 var(--size-medium);
    background-color: var(--bg-color-light);
}

.register-container__form__label{
    width: 100%;
}

.register-container__form{
    display: flex;
    flex-direction: column;  
    max-width: 450px;
    padding: var(--size-medium) var(--size-medium);
    border-radius: var(--size-small);
    background-color: var(--bg-color-dark);
    text-align: center;
    width: 100%;
    
    &__title{        
        margin-bottom: var(--size-large);       
    }

    &__input{
        width: 100%;
        margin-bottom: var(--size-small);
        height: var(--size-medium);
        padding: 0 var(--size-small);
        width: 100%;        
    }  

    &__btn{
        padding: var(--size-small) var(--size-medium);
        cursor: pointer;
        border-radius: var(--size-small);
        background-color: var(--bg-color-light);
        border: none;        
    } 

    &__p{
        margin-top: var(--size-medium);
    }

    &__link{ 
        font-size: 18px;
        color: var(--bg-color-light); 
        transition: 0.4ms ease-in-out;     
    } 

    &__link:hover{
        text-decoration: underline;    
    }
}

