:root{
    // Color
    --bg-color-light: #c48787;
    --bg-color-dark: #503737;

    // Size
    --size-small: 15px;
    --size-medium: 40px;
    --size-large: 50px;
   
}

 *{     
    margin: auto;  
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}




