:root{
    // Color
    --bg-color-light: #c48787;
    --bg-color-light-dark: #886d6d;
    --bg-color-dark: #503737;
    --bg-color-grey: #5eaaaa;
    --bg-color-white: #ffff;


    // Size
    --size-verySmall: 5px;
    --size-small: 15px;
    --size-small-medium: 25px;
    --size-medium: 40px;
    --size-large: 50px;

    // Width
    --width-small : 200px;  
    --width-medium : 250px;  
    --width-large: 450px;  
    
    // Box-shadow
    --box-shadow: 5px 6px 7px black;
}

 *{     
    margin: 0;  
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}




